<%- include('partials/header') %>

    <section class="text-light items-center justify-center">

        <div class="p-4">
            <h1 class="mb-8 text-center text-3xl font-bold font-special text-accent sm:text-4xl">About this Project</h1>

            <ul class="grid place-content-center sm:grid-cols-2 gap-8 sm:w-3/4 mx-auto">
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight ">01.</div>
                    <div>
                        <div class="text-xl font-bold ">Frontend</div>
                        <p class="max-w-xs py-2 text-sm ">This fully responsive web app is based on HTML, CSS and
                            JavaScript <br>
                            <a href="https://tailwindcss.com/" target="_blank" class="text-accent">Tailwind CSS</a>
                            framework is also used.
                        </p>
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight ">02.</div>
                    <div>
                        <div class="text-xl font-bold ">Backend</div>
                        <p class="max-w-xs py-2 text-sm ">The web app is powered by <a
                                href="https://nodejs.org/en/about/" class="text-accent" target="_blank">NodeJS</a> on
                            the backend.
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight ">03.</div>
                    <div>
                        <div class="text-xl font-bold ">Design</div>
                        <p class="max-w-xs py-2 text-sm ">The design is based on a <span class="text-accent"> dark theme
                            </span> involving mainly three
                            colors. And the app is fully responsive.
                        </p>
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight ">04.</div>
                    <div>
                        <div class="text-xl font-bold ">API Used</div>
                        <p class="max-w-xs py-2 text-sm ">The live weather data is fetched from <a
                                href="https://openweathermap.org/api" target="_blank"
                                class="text-accent">OpenWeatherMap</a>
                        </p>
                    </div>
                </li>
                <li class="flex">
                    <div class="px-4 text-5xl font-extralight ">05.</div>
                    <div>
                        <div class="text-xl font-bold ">Team</div>
                        <p class="max-w-xs py-2 text-sm">As it is not a group project, the team involves only one
                            person. <a href="https://deep-attri.netlify.app/" target="_blank"
                                class="text-accent">Deepanshu Attri</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <%- include('partials/footer') %>