<%- include('partials/header') %>



  <section class="sm:min-h-[60vh] md:min-h-[85vh] flex justify-center items-center">
    <div class="container mx-auto flex px-5 py-16 items-center justify-center flex-col">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="font-special text-5xl md:text-7xl mb-4 font-semibold text-accent">Weather Now</h1>
        <p class="mb-8 leading-relaxed">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad rem a, laudantium
          dignissimos explicabo doloremque, iste earum expedita sit minus fuga molestias! Cum adipisci architecto, magni
          vel minima quod molestiae amet distinctio blanditiis rerum magnam quidem, delectus nostrum! Quidem,
          laudantium?</p>
        <div class="flex justify-center">
          <a href="/check">
            <button class="btn-primary">Check Weather</button>
          </a>
          <a href="/working">
            <button class="ml-4 btn-secondary">How it works</button>
          </a>
        </div>
      </div>
    </div>
  </section>


  <%- include('partials/footer') %>