@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
    position: relative;
    /* From https://css.glass */
background: rgba(0, 0, 0, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
border: 1px solid rgba(0, 0, 0, 0.22);
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgb(0, 235, 176);
    background: linear-gradient(321deg, rgba(0, 235, 176, 1) 0%, rgba(0, 0, 0, 1) 58%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}